@page "/"

@inject HttpClient _httpClient
@inject ShowsViewModel _showsViewModel

<PageTitle>P4 Tickets</PageTitle>

<h1>Upcoming Shows</h1>

@if (_showsViewModel.IsLoading)
{
    <span>Loading...</span>
}
else
{
    <div class="row">
        @foreach (var show in _showsViewModel.Shows)
        {
            <div class="col-4">
                <ShowSummary Show="@show"/>
            </div>
        }
    </div>
}


@code {

    

    protected override async Task OnInitializedAsync()
    {
        await _showsViewModel.LoadShowsAsync();
    }

}